<%= form_for([@invoice_line.invoice_header, @invoice_line]) do |f| %>
	<div class="field">
		<%= f.label :matter_id %>
		<%= collection_select :invoice_line, :matter_id, Matter.all, :id, :matter %>
	</div>
	<div class="field">
		<%= f.label :biller_id %>
		<%= collection_select :invoice_line, :biller_id, Biller.all, :id, :biller_name %>
	</div>
	<div class="field">
		<%= f.label :rate %>
		<%= f.text_field :rate %>
	</div>
	<div class="field">
		<%= f.label :quantity %>
		<%= f.text_field :quantity %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
