<%= form_for([@invoice_header, @invoice_header.invoice_lines.build]) do |f| %>
	<div class="field">
	<table>
		<thead>
			<tr>
				<th><%= f.label :matter_id %></th>
				<th><%= f.label :biller_id %></th>
				<th><%= f.label :description %></th>
				<th><%= f.label :rate %></th>
				<th><%= f.label :quantity %></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= collection_select :invoice_line, :matter_id, Matter.where("customer_id = ?", @invoice_header.customer_id), :id, :matter, options = { :prompt => "" } %></td>
				<td><%= collection_select :invoice_line, :biller_id, Biller.all, :id, :biller_name, options = { :prompt => "" } %></td>
				<td><%= f.text_field :description, :disabled => "disabled" %></td>
				<td><%= f.text_field :rate, :disabled => "disabled" %></td>
				<td><%= f.text_field :quantity %></td>
			</tr>
		</tbody>
	</table>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
