<table>
  <thead>
  <tr>
    <th class="colMatter">Matter</th>
    <th class="colBiller">Biller</th>
    <th class="colDesc">Description</th>
    <th class="colRate">Rate</th>
    <th class="colQuantity">Quantity</th>
    <th>Line Total</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
	<% @invoice_header.invoice_lines.each do |invoice_line| %>
		<tr>
			<td class="colMatter"><%= text_field_tag 'matter', Matter.find(invoice_line.matter_id).matter, :readonly => true, :size => 18 %></td>
			<td class="colBiller"><%= text_field_tag 'biller', Biller.find(invoice_line.biller_id).biller_name, :readonly => true %></td>
			<td class="colDesc"><%= text_field_tag 'description', invoice_line.description, :readonly => true %></td>
			<td class="colRate"><%= number_to_currency(invoice_line.rate) %></td>
			<td class="colQuantity"><%= number_with_precision(invoice_line.quantity, :precision => 1) %></td>
			<td><%= number_to_currency(invoice_line.line_total) %></td>
			<td class="noborder"><%= link_to 'Delete', [invoice_line.invoice_header, invoice_line],
						:confirm => 'Are you sure?',
						:method => :delete %></td>
			<td class="noborder"><%= link_to 'Edit', edit_polymorphic_path([invoice_line.invoice_header, invoice_line]) %></td>
		</tr>
	<% end %>
  </tbody>
</table>

