<tr>
	<td><%= cust_contact.name %></td>
	<td><%= number_to_phone(cust_contact.phone, :area_code => true) %></td>
	<td><%= check_box_tag('primary', cust_contact.primary, cust_contact.primary, :disabled => true) %></td>
	<td class="noborder"><%= link_to 'Edit Contact', edit_polymorphic_path([cust_contact.customer, cust_contact]) %></td>
	<td class="noborder"><%= link_to 'Delete Contact', [cust_contact.customer, cust_contact],
				:confirm => 'Are you sure?',
				:method => :delete %></td>
</tr>
