<%= form_for([@customer, @customer.cust_contacts.build]) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cust_contact.errors.count, "error") %> prohibited this cust_contact from being saved:</h2>

      <ul>
      <% @cust_contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <tr>
	  <td class="colName"><%= f.text_field :name %></td>
	  <td class="colPhone"><%= f.phone_field :phone, :size => 12 %></td>
	  <td class="colEmail"><%= f.email_field :email, :size => 15 %></td>
	  <td class="colFacebook"><%= f.text_field :facebook_profile, :size => 15 %></td>
	  <td class="colPreferred"><%= f.text_field :preferred, :size => 10 %></td>
	  <td><%= f.check_box :primary %></td>
	  <%= f.text_field :customer_id, :hidden => true %>
	  <td class="noborder">
		  <div class="actions">
			<%= f.submit %>
		  </div>
	  </td>
  </tr>
<% end %>
